.box {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.box button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box .response {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}